* {
  box-sizing: border-box;
}

.top-border-line {
  border-top: 2px solid black;
}

.padding-between-lines {
  padding: 50px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 5px;
}
